body {
    background-color: #28282b;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 200px;
}

.info {
    text-align: center;
    position: absolute;
    top: 600px;
}

/* Navigation Bar */
#menuSection {
    position: relative;
    top: 0;
    left: 0;
    background-color: #454545;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#homepage, #stockprices, #annualearnings, #quarterlyearnings {
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
}

#homepage { left: 50px; }
#stockprices { left: 170px; }
#annualearnings { left: 300px; }
#quarterlyearnings { left: 450px; }

#user {
    position: absolute;
    top: 16px;
    right: 50px;
    height: auto;
    width: 65px;
}

/*Stock table body*/
#stockTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 46%;
    font-size: large;
    width: 54%;
    border-collapse: collapse;
    background-color: #454545;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
}

#stockTable th, #stockTable td {
    padding: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#stockTable tr {
    border-bottom: 1px solid black;
}

#stockTable tr:hover {
    background-color: #28282b; 
}

/*Stock menu*/
#StockMenu {
    right: 0; 
    position: absolute;
    display: flex;
    top: 200px;
    gap: 5px; 
}

.stockChoices button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #ccc; 
    color: white; 
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s; 
}

#btn-stock-AAPL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-GOOGL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-MSFT img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-TSLA img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-AMZN img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-NVDA img {
    width: 20px;
    height: auto;
    object-fit: contain;
}



.stockChoices button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ccc;
    border-color: white; 
}

/*Annualearnings table body*/
#annualEarningsTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 65%;
    font-size: large;
    width: 35%; 
    border-collapse: collapse;
    background-color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#annualEarningsTable th, #annualEarningsTable td {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

#annualEarningsTable tr {
    border-bottom: 1px solid black;
}

#EarningsMenu {
    right: 0; 
    position: absolute;
    display: flex;
    top: 200px;
    gap: 5px;;
}

.annualEarningsChoices button {
    display: inline-block; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: aliceblue;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    width: 150px; 
    margin-bottom: 10px;
    margin-right: 20px; 
}

.annualEarningsChoices button:hover {
    background-color: white;
}

#quarterlyEarningsAAPLTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 46%;
    font-size: large;
    width: 54%;
    border-collapse: collapse;
    background-color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#quarterlyEarningsAAPLTable th, #quarterlyEarningsAAPLTable td {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

#quarterlyEarningsAAPLTable tr {
    border-bottom: 1px solid black;
}



