body {
    background-color: #28282b;
}
/*Animation*/
#headerAnimation {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: scale(0.7);
    transform-origin: top right;
    z-index: 1000;
    text-align: center;
}

/* Stil för texten */
#headerAnimation p {
    margin: 0;
    font-size: 2rem;
    color: hsl(0 0% 40%);
    text-align: center;
}

/* Stil för länklistan */
.code {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Stil för varje länk */
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0 0% 6%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 1px hsl(0 0% 100% / 0.25) inset;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.1);
}

/* Stil för bilderna */
.link img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: blur(4px);
    opacity: 0.6;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.link:hover img {
    filter: blur(0);
    opacity: 1;
}

/*Header*/
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 200px;
}

/*Sidebar navigation*/
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #454545;
    color: white;
    transition: 0.3s; 
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 40px;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 30px;
}

.sidebar ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.sidebar ul li a:hover {
    border-radius: 10px;
    padding-left: 10px;
    transition: ease 0.2s; 
}

.toggle-btn {
    font-size: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.content {
    margin-left: 20px;
    padding: 20px;
    top: 20px;
}

.sidebar.open {
    left: 0; 
}

/*Stock table body*/
#stockTable {
    width: 80%;
    margin-left: 10%;
    font-size: large;
    background-color: #454545;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace; 
}

.table-wrapper {
    max-height: 1100px;
    overflow-y: auto;
    border-radius: 5px; 
    margin-top: 140px;
}

#stockTable thead th {
    position: sticky;
    top: 0;
    background-color: #454545;
    z-index: 1;
    padding: 20px;
    text-align: left;
    color: white;
}

#stockTable td {
    padding: 20px;
    text-align: left;
    color: white;
}

#stockTable tbody tr:hover {
    background-color: #525252;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #777;
    
}

/*Stock menu*/
#StockMenu {
    left: 800px;
    position: absolute;
    display: flex;
    top: 130px;
    gap: 10px; 
}

.stockChoices {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
}

.stockChoices button {
    display: flex;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #ccc; 
    color: white; 
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
}

#btn-stock-AAPL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-GOOGL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-MSFT img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

#btn-stock-TSLA img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

#btn-stock-AMZN img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-NVDA img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-IBM img {
    width: 30px;
    height: auto;
    object-fit: contain;
}


.stockChoices button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ccc;
    border-color: white; 
}

/*Annualearnings table body*/
#annualEarningsTable {
    width: 80%;
    margin-left: 10%;
    font-size: large;
    background-color: #454545;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

.table-wrapper {
    max-height: 1100px;
    overflow-y: auto;
    border-radius: 5px; 
    margin-top: 80px;
}

#annualEarningsTable thead th {
    position: sticky;
    top: 0;
    background-color: #454545;
    z-index: 1;
    padding: 20px;
    text-align: left;
    color: white;
}

#annualEarningsTable td {
    padding: 20px;
    text-align: left;
    color: white;
}

#annualEarningsTable tbody tr:hover {
    background-color: #525252;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #777;
    
}

#AnnualEarningsMenu {
    left: 800px;
    position: absolute;
    display: flex;
    top: 130px;
    gap: 10px;
}

.annualEarningsChoices {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
}

.annualEarningsChoices button {
    display: flex;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #ccc; 
    color: white; 
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    text-align: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);  
}

.annualEarningsChoices button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ccc;
    border-color: white; 
}

/*Quarterlyearnings table body*/
#quarterlyEarningsTable {
    width: 80%;
    margin-left: 10%;
    font-size: large;
    background-color: #454545;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

.table-wrapper {
    max-height: 1100px;
    overflow-y: auto;
    border-radius: 5px; 
    margin-top: 80px;
}

#quarterlyEarningsTable thead th {
    position: sticky;
    top: 0;
    background-color: #454545;
    z-index: 1;
    padding: 20px;
    text-align: left;
    color: white;
}

#quarterlyEarningsTable td {
    padding: 20px;
    text-align: left;
    color: white;
}

#quarterlyEarningsTable tbody tr:hover {
    background-color: #525252;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #777;
    
}

/*Company overview*/
.companyoverviewbasic {
    position: absolute;
    color: white;
    top: 185px;
    left: 600px;
    font-family: 'Courier New', Courier, monospace;
}

.companyoverviewanalyst {
    position: absolute;
    color: white;
    top: 750px;
    right: 500px;
    font-family: 'Courier New', Courier, monospace;
}

.companyoverviewadvanced {
    position: absolute;
    color: white;
    top: 185px;
    right: 500px;
    font-family: 'Courier New', Courier, monospace;
}


#company-overview-basic, #company-overview-analyst, #company-overview-advanced {
    color: white;
    background-color:#454545;
    padding-left: 20px;
    border-radius: 5px;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
}

#company-overview-basic dl,
#company-overview-analyst dl,
#company-overview-advanced dl {
    display: grid;
    grid-gap: 4px 16px;
}

#company-overview-basic dt,
#company-overview-analyst dt,
#company-overview-advanced dt {
    font-weight: bold;
    font-size: large;
}

#company-overview-basic dd,
#company-overview-analyst dd,
#company-overview-advanced dd {
    margin: 0;
    grid-column-start: 2;
    line-height: 1.5;
}

#company-overview-basic, 
#company-overview-analyst, 
#company-overview-advanced {
    color: white;
    background-color: #454545;
    padding-left: 20px;
    border-radius: 5px;
    width: 40%;
    border: 2px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
}

#company-overview-basic {
    position: absolute;
    left: 200px;
    top: 250px;
}

#company-overview-analyst {
    position: absolute;
    right: 80px;
    top: 820px;
}

#company-overview-advanced {
    position: absolute;
    right: 80px;
    top: 250px;
}

/*Funds Overview*/
.funds{
    color: white;
    position: absolute;
    left: 300px;
    top: 170px;
}

.sectors {
    color: white;
    position: absolute;
    left: 750px;
    top: 170px;
}

.holdings {
    color: white;
    position: absolute;
    top: 880px;
    left: 450px;
}

#fundsTableBody, #sectorTableBody, #holdingTableBody dl {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
}

#fundsTableBody dt, #sectorTableBody dt, #holdingTableBody dt {
    font-weight: bold;
    font-size: large;
}

#fundsTableBody dd, #sectorTableBody dd, #holdingTableBody dd {
    margin: 0;
    grid-column-start: 2;
    line-height: 1.5;
}

#fundsTableBody, #sectorTableBody, #holdingTableBody {
    font-family: 'Courier New', Courier, monospace;
}

#fundsTableBody {
    position: absolute;
    left: 250px;
    top: 250px;
}

#fundsTableBody {
    color:white;
    background-color: #454545;
    width: 300px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
}

#sectorTableBody {
    position: absolute;
    left: 700px;
    top: 250px;
}

#sectorTableBody {
    color: white;
    background-color: #454545;
    width: 300px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
    column-count: 2;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 605px;
}

#holdingTableBody {
    position: absolute;
    left: 250px;
    top: 950px;
}

#holdingTableBody {
    color: white;
    background-color: #454545;
    width: 600px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #ccc;
    column-count: 2;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 700px;
}

.holding-item {
    break-inside: avoid;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.holding-item span {
    display: block;
    margin: 2px 0;
}

/*Fund charts*/
#fundsChart {
    position: absolute;
    top: 50px;
    right: 200px;
}
