body {
    background-color: #28282b;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 200px;
}

.info {
    text-align: center;
    position: absolute;
    top: 600px;
    color: white;
}

/* Navigation Bar */
#menuSection {
    position: relative;
    top: 0;
    left: 0;
    background-color: #454545;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* Navigation Bar Buttons */
#homepage, #stockprices, #annualearnings, #quarterlyearnings {
    position: absolute;
    top: 18px;
    height: auto;
    width: 45px;
}

.QuarterlyEarningsText, .AnnualEarningsText, .StockPricesText, .UserText, .HomepageText {
    color: white;
    position: absolute;
    font-size: large;
}

.HomepageText { left: 40px; top: 55px; }
.QuarterlyEarningsText { left: 410px; top: 55px; }
.AnnualEarningsText { left: 270px; top: 55px; }
.StockPricesText { left: 145px; top: 55px; }
.UserText { right: 50px; top: 55px; }

#homepage { left: 50px; }
#stockprices { left: 170px; }
#annualearnings { left: 300px; }
#quarterlyearnings { left: 450px; }
#user { right: 50px; }

#user {
    position: absolute;
    top: 12px;
    height: auto;
    width: 65px;
}

#homepage, #stockprices, #annualearnings, #quarterlyearnings, #user {
    transition: transform 0.3s ease, color 0.3s ease; 
}

#homepage:hover, 
#stockprices:hover, 
#annualearnings:hover, 
#quarterlyearnings:hover, 
#user:hover {
    cursor: pointer;
    transform: scale(1.2); 
}



/*Stock table body*/
#stockTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 20%;
    font-size: large;
    width: 80%;
    border-collapse: collapse;
    background-color: #454545;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
}

#stockTable th, #stockTable td {
    padding: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#stockTable tr {
    border-bottom: 1px solid black;
}

#stockTable tr:hover {
    background-color: #28282b; 
}

/*Stock menu*/
#StockMenu {
    left: 20px;
    position: absolute;
    display: flex;
    top: 255px;
    gap: 10px; 
}

.stockChoices button {
    display: flex;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #ccc; 
    color: white; 
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s; 
}

#btn-stock-AAPL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-GOOGL img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-MSFT img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

#btn-stock-TSLA img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

#btn-stock-AMZN img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-NVDA img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

#btn-stock-IBM img {
    width: 30px;
    height: auto;
    object-fit: contain;
}


.stockChoices button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ccc;
    border-color: white; 
}

/*Annualearnings table body*/
#annualEarningsTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 20%;
    font-size: large;
    width: 70%; 
    border-collapse: collapse;
    background-color: #454545;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#annualEarningsTable th, #annualEarningsTable td {
    padding: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#annualEarningsTable tr {
    border-bottom: 1px solid black;
}

#annualEarningsTable tr:hover {
    background-color: #28282b; 
}

#AnnualEarningsMenu {
    left: 20px;
    position: absolute;
    display: flex;
    top: 255px;
    gap: 10px;
}

.annualEarningsChoices button {
    display: flex;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #ccc; 
    color: white; 
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s; 
}

.annualEarningsChoices button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ccc;
    border-color: white; 
}

/*Quarterlyearnings table body*/
#quarterlyEarningsTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 20%;
    font-size: large;
    width: 80%;
    border-collapse: collapse;
    background-color: #454545;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#quarterlyEarningsTable th, #quarterlyEarningsTable td {
    padding: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#quarterlyEarningsTable tr {
    border-bottom: 1px solid black;
}

#quarterlyEarningsTable tr:hover {
    background-color: #28282b; 
}

/*Company overview*/
.companyoverviewbasic {
    position: absolute;
    color: white;
    top: 175px;
    left: 250px;
}

.companyoverviewanalyst {
    position: absolute;
    color: white;
    top: 670px;
    left: 240px;
}

.companyoverviewadvanced {
    position: absolute;
    color: white;
    top: 175px;
    right: 250px;
}


#company-overview-basic, #company-overview-analyst, #company-overview-advanced {
    color: white;
    background-color:#454545;
    padding-left: 20px;
    border-radius: 5px;
    width: 40%;
}

#company-overview-basic dl,
#company-overview-analyst dl,
#company-overview-advanced dl {
    display: grid;
    grid-gap: 4px 16px;
}

#company-overview-basic dt,
#company-overview-analyst dt,
#company-overview-advanced dt {
    font-weight: bold;
    font-size: large;
}

#company-overview-basic dd,
#company-overview-analyst dd,
#company-overview-advanced dd {
    margin: 0;
    grid-column-start: 2;
    line-height: 1.5;
}


#company-overview-basic {
    position: absolute;
    left: 200px;
    top: 250px;
}

#company-overview-analyst {
    position: absolute;
    left: 200px;
    top: 800px;
}

#company-overview-advanced {
    position: absolute;
    right: 100px;
    top: 250px;
}

