body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
}

.info {
    text-align: center;
    position: absolute;
    top: 600px;
}

/* Navigation Bar */
#menuSection {
    position: relative;
    top: 0;
    left: 0;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#homepage, #stockprices, #annualearnings, #quarterlyearnings {
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
}

#homepage { left: 50px; }
#stockprices { left: 170px; }
#annualearnings { left: 300px; }
#quarterlyearnings { left: 450px; }

#user {
    position: absolute;
    top: 16px;
    right: 50px;
    height: auto;
    width: 65px;
}

/*Stock table body*/
#stockTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 20%;
    font-size: large;
    width: 80%;
    border-collapse: collapse;
    background-color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#stockTable th, #stockTable td {
    padding: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

#stockTable tr {
    border-bottom: 1px solid black;
}

/*Stock menu*/
#StockMenu {
    padding-left: 20px;
    position: absolute;
    top: 265px;
}

.stockChoices button {
    display: block; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: aliceblue;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    width: 150px; 
    margin-bottom: 10px; 
}

.stockChoices button:hover {
    background-color: white; 
}

/*Annualearnings table body*/
#annualEarningsTable {
    position: relative;
    border-spacing: 20px; 
    border-collapse: separate; 
    top: 80px;
    left: 50%;
    font-size: large;
    width: 50%;
    border-collapse: collapse;
    background-color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: auto;
}

#annualEarningsTable th, #annualEarningsTable td {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

#annualEarningsTable tr {
    border-bottom: 1px solid black;
}


